In [43]:
list1=['Ram','Hari','Shyam']
list2=[26,7,88]
for i,j in zip(list1,list2):
    print(f'{i} has age {j}')

Ram has age 26
Hari has age 7
Shyam has age 88

# Dictionary

- A dictionary is a kind of data structure that stores items in key-value pairs.

In [47]:
# {key: value}
d1={'Ram':25,
 'Hari':7,
 'Shyam':88}
d1
# keys='Ram','Hari','Shyam'
# values=25,7,88

{'Ram': 25, 'Hari': 7, 'Shyam': 88}

In [49]:
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'
      
    
}
dic1
# keys=100,200,300
# values='Nikesh','Sudha','Sagun'

{100: 'Nikesh', 200: 'Sudha', 300: 'Sagun'}

In [51]:
d3={'even':[2,4,6],
   'odd':[1,3,5]}
d3

{'even': [2, 4, 6], 'odd': [1, 3, 5]}

In [53]:
d4={[2,4,6]:'even',
    [1,3,5]:'odd'
    
}
d4  # we cannot provide list in keys but we can provide in values

TypeError: unhashable type: 'list'

In [61]:
d4={'even':(2,4,6),
    'odd':(1,3,5)}
d4   # we can provide tuples in values

{'even': (2, 4, 6), 'odd': (1, 3, 5)}

In [55]:
d4={(2,4,6):'even',
    (1,3,5):'odd'
    
}
d4  # we can provide tuple in keys

{(2, 4, 6): 'even', (1, 3, 5): 'odd'}

In [65]:
# dictionary in dictionary
d5={{'fruits':'Apple'}:'items_list'}
d5

TypeError: unhashable type: 'dict'

In [71]:
d6={'items_list':{'fruits':'Apple'}}
d6

{'items_list': {'fruits': 'Apple'}}

In [ ]:
a=[1,2]
b=(1,2)

In [73]:
a,b=[1,2]
a,b

(1, 2)

In [77]:
a=1,2
a

(1, 2)

In [79]:
d1={'A':1,'B':2,'A':3}     # Duplicates are not allowed
d1

{'A': 3, 'B': 2}

- Dictionary is a key: value pair
- at values position you can take any data type
- at keys position list and dictionary will fail
- Duplicates are not allowed
- If you will update a key value, latest value it will take

In [7]:
type(dic1)

dict

In [82]:
list2=['Nikesh','Wagle']
tuple(list2)

('Nikesh', 'Wagle')

In [84]:
list2=['Nikesh','Wagle'] 
dict(list2)

ValueError: dictionary update sequence element #0 has length 6; 2 is required

In [89]:
tuple_=(1,'Nikesh')
list(tuple_)

[1, 'Nikesh']

In [91]:
dic8={'Ram':25,'Hari':30,'Robert':3}
max(dic8)

'Robert'

- Maximum value and minium value based on key only

In [9]:
len(dic1)

3

In [15]:
max(dic1)

300

In [17]:
min(dic1)

100

In [93]:
d9={100:1,200:9}
sum(d9)

300

- Sum of dictionary wil add only keys 
- if we provide string in any of key or values then addition will not work

## In operator

In [100]:
dic8={'Ram':25,'Hari':30,'Robert':3}
'Ram' in dic8

True

In [102]:
'Nikesh' in dic8

False

In [104]:
for i in dic8:
    print(i)

Ram
Hari
Robert

## Indexing

In [106]:
dic8={'Ram':25,'Hari':30,'Robert':3}
dic8[::-1]

KeyError: slice(None, None, -1)

In [108]:
dic8={'Ram':25,'Hari':30,'Robert':3}
dic8['Ram']

25

In [124]:

for i in dic8:
    print(f'The age of {i} is {dic8[i]}')

The age of Ram is 25
The age of Hari is 30
The age of Robert is 3

In [129]:
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun' }
for key in range(len(dic1)):
    print(key)

0
1
2

In [139]:
# creating a empty dictionary and update it
# for string
s=''
for i in 'apple':
    s=s+i

print(s)

apple

In [141]:
# for list
l=[i for i in range(10)]

l=[]
for i in range(10):
    l.append(i)

l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [149]:
# Finally dictionary
d1={}
d1['fruit']='apple'
d1

{'fruit': 'apple'}

In [151]:
d={}
d[20]='Nikesh'
d[30]='Wagle'
d

{20: 'Nikesh', 30: 'Wagle'}

In [153]:
# WAP create a dictionary based on two lists
# list1=['Ram','Raheem','Robert'
# list2=[25,30,35]

dic0={}
dic0['Ram']=25
dic0['Raheem']=30
dic0['Robert']=35
dic0
# Generalized form: dic0[i]=j

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [155]:
list1=['Ram','Raheem','Robert']
list2=[25,30,35]
dic7={}
for i,j in zip(list1,list2):
    dic7[i]=j

print(dic7)

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [163]:
list1=['Ram','Raheem','Robert']
list2=[25,30,35]
dic1={}
for i in range(len(list1)):
    print(i,list1[i],list2[i])
    dic1[list1[i]]=list2[i]

print(dic1)

0 Ram 25
1 Raheem 30
2 Robert 35
{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [110]:
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'    
}
dic1[::-1]

KeyError: slice(None, None, -1)

## Dictionary comphrensions

In [172]:
list1=['Ram','Raheem','Robert']
list2=[25,30,35]
dict1={list1[i]:list2[i] for i in range(len(list1))}
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [174]:
dict1={list1:list2 for list1,list2 in zip(list1,list2)}
dic1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [194]:
# wap take 5 random numbers
# and create a dictionary with even and odd
import random
dic9={}
list1=[]
list2=[]
for key in range(5):
    a=random.randint(1,1000)
    if a%2==0:
        list1.append(f'{a}')
    else:
        list2.append(f'{a}')

dic9['even']=list1
dic9['odd']=list2
dic9

{'even': ['954', '636'], 'odd': ['31', '183', '45']}

## mutuable and immutuable

In [5]:
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'    
}
dic1[100]='Nirmala'
dic1

{100: 'Nirmala', 200: 'Sudha', 300: 'Sagun'}

- Hence dictionary is mutuable because we can change the values stored inside ir

In [1]:
import os

In [3]:
os.getcwd()

'C:\\Users\\pc\\Desktop\\Data Science'

## Dictionary Methods

In [12]:
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'}
dir(dic1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

$ items-keys-values$

In [15]:
# items

dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'}
dic1.items()

dict_items([(100, 'Nikesh'), (200, 'Sudha'), (300, 'Sagun')])

In [17]:
# keys
dic1.keys()

dict_keys([100, 200, 300])

In [45]:
#values
values=dic1.values()
values

dict_values(['Nikesh', 'Sudha', 'Sagun'])

In [49]:
nikesh=list(values)
nikesh

['Nikesh', 'Sudha', 'Sagun']

In [53]:
nikesh.append('Nirmala')
nikesh

['Nikesh', 'Sudha', 'Sagun', 'Nirmala', 'Nirmala']

In [55]:
# I will give dictionary make list of keys and values and again create dictionary
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'}
keys=list(dic1.keys())
values=list(dic1.values())
keys,values

([100, 200, 300], ['Nikesh', 'Sudha', 'Sagun'])

In [61]:
d1={}
for i in range(len(keys)):
    d1[keys[i]]=values[i]

d1

{100: 'Nikesh', 200: 'Sudha', 300: 'Sagun'}

In [65]:
# Alternative
{i:j for i,j in zip(keys,values)}

{100: 'Nikesh', 200: 'Sudha', 300: 'Sagun'}

In [7]:
# more alternatives
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'}
keys=list(dic1.keys())
values=list(dic1.values())
dict(zip(keys,values))

{100: 'Nikesh', 200: 'Sudha', 300: 'Sagun'}

In [62]:
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'
a=s1.split(',')
first_name=[]
secomd_name=[]
company=[]
for i in range(len(a)):
    a[]

['virat.kohli@blr.com', 'Rohit.sharma@mumbai.com', 'kl.rahul@lucknow.com']

In [106]:
str1= 'virat.kohli@blr.com'
d1={}
f_name=[str1[0:str1.find('.')]for str1 in s1.split(',')]
s_name=[str1[str1.find('.')+1:str1.find('@')]for str1 in s1.split(',')]
c_name=[str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)]for str1 in s1.split(',')]
f_name,s_name,c_name

d1['first_name']=f_name
d1['second_name']=s_name
d1['company_name']=c_name
d1

{'first_name': ['virat', 'Rohit', 'kl'],
 'second_name': ['kohli', 'sharma', 'rahul'],
 'company_name': ['blr', 'mumbai', 'lucknow']}

$ words-frequency$

In [123]:
str1='can can you canner can you able to can canner'
l1=str1.split(' ')
d1={}
for i in l1:
    d1[i]=l1.count(i)

d1

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [5]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':240}
for i in d2:
    d1[i]+=d2[i]

d1

{'a': 70, 'b': 130, 'c': 280}

In [11]:
d1={'a':20,'b':30,'c':40,'d':500}
d2={'a':50,'b':100,'c':240}
for i in d2:
    d1[i]+=d2[i]

d1

# which ever is max lengeth iterate through that dictionary

{'a': 70, 'b': 130, 'c': 280, 'd': 500}

In [9]:
d1={'a':20,'b':30,'c':40,'d':500}
d1['a']

20

In [15]:
d1={'a':20,'b':30,'c':40,'d':500}
d2={'a':50,'b':100,'c':240}
for i in d2:
    d1[i]+=d2[i]

d1

{'a': 70, 'b': 130, 'c': 280, 'd': 500}

In [ ]:
# clear for list
list1=[1,'A','B','C']
list1.clear()

In [27]:
list1

[]

In [21]:
# clear======> Remove all items from the dict
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'}
dic1.clear()

In [23]:
dic1

{}

In [3]:
# copy
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'}
dic2={1:'Nirmala'}
dic1.copy()

{100: 'Nikesh', 200: 'Sudha', 300: 'Sagun'}

In [10]:
# append in list
list1=[100,200,'Nikesh']
list2=[300,400,'Wagle']
list1.append(list2)
list1

[100, 200, 'Nikesh', [300, 400, 'Wagle']]

In [14]:
# extend
list1=[100,200,'Nikesh']
list2=[300,400,'Wagle']
list1.extend(list2)
list1

[100, 200, 'Nikesh', 300, 400, 'Wagle']

In [3]:
# update =====> its like append in list
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'}
dic2={ 400:'Apple',500:'Orange'}
dic1.update(dic2)
dic1

{100: 'Nikesh', 200: 'Sudha', 300: 'Sagun', 400: 'Apple', 500: 'Orange'}

In [5]:
dic2.update(dic1)
dic2

{400: 'Apple', 500: 'Orange', 100: 'Nikesh', 200: 'Sudha', 300: 'Sagun'}

$pop-popitems$

In [8]:
# pop
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'}
dic1.pop(100)
dic1

{200: 'Sudha', 300: 'Sagun'}

In [20]:
#pop items
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'}
dic1.popitem()

(300, 'Sagun')

In [27]:
# Raises error if the dic is empty
dict3={}
dict3.popitem()

KeyError: 'popitem(): dictionary is empty'

$del$

In [7]:
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'}
del dic1[100]

In [9]:
dic1

{200: 'Sudha', 300: 'Sagun'}

In [11]:
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'}
del(dic1)

In [13]:
dic1

NameError: name 'dic1' is not defined

$set default$

- returns value of the key
- if key is not present return default=none

In [66]:
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'}
dic1.setdefault(400,'misty')
dic1

{100: 'Nikesh', 200: 'Sudha', 300: 'Sagun', 400: 'misty'}

$from keys and get$

In [24]:
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'}
dic1.get(100)

'Nikesh'

- how many ways we can do
- what output it is returning
- what is the difference
- we can access the values by providing key as index and key in get method
- It will not give error in get method if key is not there in the dict

In [35]:
dic1={100:'Nikesh',200:'Sudha',
      300:'Sagun'}
max(list(dic1.keys()))

300

$from_keys$

In [ ]:
# it creates a new dictionary
# create a new dictionary from the given sequenc of elements
# create a new dictionary with iterable key

In [60]:
dic1={'Nikesh':100,'sudha':300}
d2=dic1.fromkeys([1,2,3],'odd')
d2

{1: 'odd', 2: 'odd', 3: 'odd'}