# Lambda functions

In [ ]:
# create basic functions

### one arguments

In [4]:
def add(x):
    return(x+10)

add(20)

30

In [8]:
def add(x):
    return(x+10)

add(20)

# how many arguments are present?
# what you are returning

# lambda <argument>:<output>

30

In [10]:
add=lambda x:x+10
add(20)

30

In [12]:
def square(a):
    return(a*a)

square(12)

144

In [14]:
square=lambda a:a*a
square(3)

9

In [20]:
def cube(b):
    return(b**3)

cube(2)

8

In [29]:
cube=lambda b:b**3
cube(5)

125

### two arguments

In [35]:
def add(a,b):
    return(a+b)

add(10,12)

# how many arguments are present?
# what you are returning

# lambda <argument>:<output>

22

In [37]:
add=lambda a,b:a+b
add(10,12)

22

In [41]:
def mul(c,d):
    return(c*d)

b=mul(10,11)
b

110

In [48]:
nikesh=lambda c,d:c*d
nikesh(12,10)

120

In [50]:
# implement average of 3 numbers using lambda
average=lambda a,b,c:(a+b+c)/3
average(1,2,3)

2.0

In [52]:
# implement average of three numbers make c as default paramaters
average=lambda a,b,c=10:(a+b+c)/3
average(10,10)

10.0

In [54]:
average=lambda a=10,b,c:(a+b+c)/3  # error: parameter without a default follows parameter with a default
average(12,10)

SyntaxError: parameter without a default follows parameter with a default (3939078786.py, line 1)

In [56]:
average=lambda a,b=20,c:(a+b+c)/3  # error: parameter without a default follows parameter with a default
average(12,10)

SyntaxError: parameter without a default follows parameter with a default (1600934333.py, line 1)

In [60]:
# round
a=2.34678965
round(a,4)

2.3468

### if-else

In [63]:
# create a function for finding greater number between two numbers
def great(a,b):
    if a>b:
        print(f'{a} is greater than {b}')

    else:
        print(f'{b} is greater than {a}')

    return(a,b)

c,d=great(12,14)

14 is greater than 12

In [65]:
c

12

In [67]:
d

14

In [71]:
l1=[]        # global variable
def great(a,b):
    if a>b:
        l1.append(a)

    else:
        l1.append(b)

    return(a,b)

c,d=great(12,14)

In [73]:
l1

[14]

In [ ]:
# list comphrension
#l1=[<if_output><if_condition><else_condition><else_output><loop>]

In [75]:
# create a function for finding greater number between two numbers using lambda function

# lambda <arg1>,<arg2>:<if_output><if_condn> <else> <else_op>

c=lambda a,b:f'{a} is greater than {b}' if a>b else f'{b} is greater than {a}'
c(12,14)

'14 is greater than 12'

- lambda function is nothing but create a function
- on argument
- multiple arguments
- if else condn
- if else condn same like list comphrension

In [4]:
# By using append method
list1=['hyd','mumbai','chennai']
list2=[]
for i in range(len(list1)):
    list2.append(list1[i].capitalize())

list2

['Hyd', 'Mumbai', 'Chennai']

In [6]:
# By using list comphrension method
list1=['hyd','mumbai','chennai']
list2=[list1[i].capitalize() for i in range(len(list1))]
list2

['Hyd', 'Mumbai', 'Chennai']

In [ ]:
# whenever you use iterations 
# iterator: something that can be iterable/you can print using loop
# list,string,tuple,dictionary

In [ ]:
lambda <arguments>:<output>,<iterator>

In [12]:
list1=['hyd','mumbai','chennai']
list2=lambda i:i.capitalize(),list1
list2

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'chennai'])

- next thing is map input and output

In [14]:
list1=['hyd','mumbai','chennai']
map(lambda i:i.capitalize(),list1)

- store the output

In [18]:
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai']

- first make a lambda function
- second add your iterator
- map both function and iterator
- save the result in a list

In [21]:
list1=['hyd','mumbai','chennai']
lambda i:i.capitalize(),list1
map(lambda i:i.capitalize(),list1)
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai']

In [25]:
# WAP to dquare the list using append method
list1=[1,2,3,4,5]
list2=[]
for i in list1:
    list2.append(i*i)

list2

[1, 4, 9, 16, 25]

In [27]:
# by using list comphrension method
list1=[1,2,3,4,5]
list2=[i*i for i in list1]
list2

[1, 4, 9, 16, 25]

In [31]:
# by using lambda function
list(map(lambda i:i*i,list1))

[1, 4, 9, 16, 25]

In [49]:
# WAP 
list1=[1,2,3]
list2=[11,22,33]
list(map(lambda i,j:i+j, list1,list2))

[12, 24, 36]

In [51]:
# By using append method
list1=[1,2,3]
list2=[11,22,33]
list3=[]
for i,j in zip(list1,list2):
    list3.append(i+j)

list3

[12, 24, 36]

In [73]:
# bY using list comphrension method
list3=[(i,j), i+j for i,j in zip(list1,list2)]
list3

SyntaxError: did you forget parentheses around the comprehension target? (4049634910.py, line 2)

In [57]:
# WAP
list1=['h#d','mum#bai','chennai']
list2=[]
for i in list1:
    if '#' in i:
        list2.append(i)   

list2

['h#d', 'mum#bai']

In [65]:
# by list comphrension method
list2=[i for i in list1 if '#' in i]
list2

['h#d', 'mum#bai']

In [ ]:
# lambda <argument>:<condition>,<iterator>

In [77]:
 # by lambda function
list1=['h#d','mum#bai','chennai']
list(map(lambda i:'#' in i,list1))

# condition mapping to list of items

[True, True, False]

In [81]:
list1=['h#d','mum#bai','chennai']
'#' in 'h#d'

True

In [83]:
# filtering 
list1=['h#d','mum#bai','chennai']
list(filter(lambda i:'#' in i,list1))

['h#d', 'mum#bai']

In [ ]:
- in lambda function if there is only if condn not else condn then we use 
- lambda <arg>:<condn>,<iterator>