# Tuples

- Python tuples are a type of data structure that is very similar to lists.
- The main difference between the two is that tuples are immutable, meaning they cannot be changed once they are created.
- In short tuple is the collection of elements in the small brackets

In [5]:
tup1=(1,'A',True,'nikesh',4+5j)
tup1

(1, 'A', True, 'nikesh', (4+5j))

In [1]:
tup3=(1,1,2,3,4,5,6)
tup3

(1, 1, 2, 3, 4, 5, 6)

In [7]:
type(tup1)

tuple

## Mutuable and immutable

In [10]:
tup1=(1,'A',True,'nikesh',4+5j)
tup1[2]='ABCD'

TypeError: 'tuple' object does not support item assignment

- Hence tuple is immutuable and values inside the tuples cannot be changed

## concatenation

In [16]:
tup1=(1,'A',True,'nikesh',4+5j)
tup2=('B',False)
tup1+tup2

(1, 'A', True, 'nikesh', (4+5j), 'B', False)

In [18]:
len(tup1)

5

In [42]:
tup3=(1,2,4,3,7,6)
max(tup3)

7

In [44]:
min(tup3)

1

In [46]:
tup1*3

(1,
 'A',
 True,
 'nikesh',
 (4+5j),
 1,
 'A',
 True,
 'nikesh',
 (4+5j),
 1,
 'A',
 True,
 'nikesh',
 (4+5j))

In [48]:
tup1/tup2

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [50]:
tup1-tup2

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

## Slicing

In [21]:
tup1=(1,'A',True,'nikesh',4+5j)
tup1[1:5]

('A', True, 'nikesh', (4+5j))

In [23]:
tup1[-1]

(4+5j)

In [25]:
tup1[0]

1

In [27]:
tup1[::-1]

((4+5j), 'nikesh', True, 'A', 1)

## indexing

In [33]:
tup1=(1,'A',True,'nikesh',4+5j)
for i in range(len(tup1)):
    print(f'The index of {tup1[i]} is {i}')

The index of 1 is 0
The index of A is 1
The index of True is 2
The index of nikesh is 3
The index of (4+5j) is 4

## In operator

In [55]:
tup1=(1,'A',True,'nikesh',4+5j)
1 in tup1

True

In [57]:
5 in tup1

False

## methods of tuples

In [60]:
dir(tup1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [62]:
tup1

(1, 'A', True, 'nikesh', (4+5j))

In [66]:
tup1.count('A')

1

In [72]:
tup4=('A','A','B','C',1,2,3,1,4,5)
print(tup4.count(1))
print(tup4.count('A'))

2
2

In [80]:
tup4.index(1,5)

7